/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #23a177;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.admonition {
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.14);
  position: relative;
  background-image: linear-gradient();
}

.admonition-heading h5 {
  font-size: 1.5em;
  opacity: 0.8;
  padding-bottom: 5px;
}

.admonition-icon {
  margin-right: 10px;
}

.markdown img {
  margin: 30px auto 40px;
  display: block;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

html[data-theme="dark"] .admonition,
html[data-theme="dark"] .markdown img {
  box-shadow: 10px 10px 0 rgba(255, 255, 255, 0.1);
}

.markdown h2 {
  border-top: 10px solid rgba(0, 0, 0, 0.05);
  margin: 60px -10px 30px -20px;
  padding-top: 15px;
  padding-left: 20px;
}

.markdown h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  padding-bottom: 10px;
  margin-left: -20px;
  padding-left: 20px;
}

.markdown h4 {
  border-left: 5px solid rgba(0, 0, 0, 0.2);
  margin-left: -20px;
  margin-top: 40px;
  padding: 10px 20px;
}

html[data-theme="dark"] .markdown h2,
html[data-theme="dark"] .markdown h3,
html[data-theme="dark"] .markdown h4 {
  border-color: rgba(255, 255, 255, 0.2);
}
